<% layout('layout') -%>
<div class="container-fluid" ng-controller="UserProfileCtrl" ng-cloak>
      <div class="row">
        <!-- Menu bar will go here -->
        <% include ../partials/sidebar %>
        <!-- End of the Menu bar -->
    <div class="col-md-9 col-md-offset-3">
      
            <h2>Add Shift Report</h2>
            <hr>
                        <div class="col-lg-6">
                            <form id="login-form" action="/taxi" method="post" role="form">
                                <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
                                <div class="form-group">
                                    <input type="text" name="date" id="company" tabindex="1" class="form-control" placeholder="MM/DD/YYYY" maxlength="10" autofocus>
                                </div>
                               <div class="form-group">
                                    <input type="text" name="week" id="week" tabindex="2" class="form-control" placeholder="Week" >
                                </div>
                                <div class="form-group">
                                    <input type="text" name="medallion" id="medallion" tabindex="3" class="form-control" maxlength="4" placeholder="Medallion" >
                                </div>
                                <div class="form-group">
                                <select id="company" name="company" class="form-control" tabindex="4" required="required">
                                    <option value=''>Select your garage:</option>
                                      <% var garage = owners; %>
                                      <% for(var i=0; i < garage.length; i++){
                                      var result = (garage[i].company);
                                      //Get owners keys and put in value based on the option
                                      var ownerId = (garage[i].id);
                                      %>
                                      <option name="orgs" value= <%= ownerId %>><%= result %></option>
                                      <% } %>
                                  </select>
                                  </div>
                                <div class="form-group">
                                    <input type="text" name="cashtrips" id="cashtrips" tabindex="5" class="form-control" placeholder="Cash Trips" >
                                </div>
                                <div class="form-group">
                                    <input type="text" name="cashincome" id="cashincome" tabindex="6" class="form-control" placeholder="Cash Income" >
                                </div>
                                <div class="form-group">
                                    <input type="text" name="cctrips" id="cctrips" tabindex="7" class="form-control" placeholder="Credit Card Trips" >
                                </div>
                                <div class="form-group">
                                    <input type="text" name="ccincome" id="ccincome" tabindex="8" class="form-control" placeholder="Credit Card Income" >
                                </div>
                               <div class="form-group">
                                    <input type="text" name="ezpass" id="ezpass" tabindex="9" class="form-control" placeholder="EZ-Pass" >
                                </div>
                                <div class="form-group">
                                    <input type="text" name="leasefee" id="leasefee" tabindex="10" class="form-control" placeholder="Lease Fee" >
                                </div>
                                <div class="form-group">
                                    <input type="text" name="checks" id="checks" tabindex="11" class="form-control" placeholder="Checks" >
                                </div>
                                <div class="form-group">
                                    <input type="text" name="miles" id="miles" tabindex="12" class="form-control" placeholder="Miles" >
                                </div>
                                <div class="form-group">
                                    <input type="text" name="gas" id="gas" tabindex="13" class="form-control" placeholder="Gas" >
                                </div>
                                <div class="form-group">
                                    <input type="text" name="cashtips" id="cashtips" tabindex="14" class="form-control" placeholder="Cash Tips" >
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="addtaxi" id="addtaxi-submit" tabindex="15" class="form-control btn btn-register" value="Add">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>  
           