<% layout('layout') -%>
<div class="container-fluid" ng-controller="UserProfileCtrl" ng-cloak>
      <div class="row">
        <!-- Menu bar will go here -->
        <% include ../partials/sidebar %>
        <!-- End of the Menu bar -->
    <div class="col-md-9 col-md-offset-3">
      
            <h2>Dashboard</h2>
            <hr>
            <h1>This section is under construction ...</h1></h2>
            
    </div>
    </div>
    </div>
    </div>
