 <div class="navbar navbar-inverse navbar-bottom">
 <footer class="footer">
        <center><p>Copyright &copy; TBA | <a href ="/">Home</a>
      | <a href ="/contact">Contact</a>
		   	| <a href ="/about">About</a>
		   	<% if(!user) { %>
		   	| <a href ="/login">Login</a> 
		   	| <a href ="/signup">Sign up</a><br />
		   	<% } %>
		   	<br />
		   Deveolped by Jaouad, Mouaou</p></center>
 </footer>
 </div>