<div class="row-fluid">
	<nav class="navbar navbar-inverse col-xs-4 col-md-3 sidebar" id="sidebar-toggle">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
				<li class="sidebar_menu">Taxi Owner/Garage</li>
				<li ><a href="/owner">New Garage</a></li>
				<li ><a href="/AllOwners">All Garages</a></li>
				<li class="sidebar_menu">Taxi Driver</li>
				<li><a href="/taxi">New Shift Report</a></li>
				<li ><a href="/TaxiIncome">Shift Reports Details</a></li>
				<li ><a href="/grandTotal">Daily Shift Reports</span></a></li>
				<li><a href="/WeeklyIncome">Weekly Shift Reports</span></a></li>
				<li class="sidebar_menu">Violations</li>
				<li ><a href="/violation"> New Violation</a></li>
				<li ><a href="/AllViolations">All Violations</a></li>
				<li class="dropdown sidebar_menu">
					<a href="#" class="dropdown-toggle sidebar_menu" data-toggle="dropdown">Settings <span class="caret"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><a href="/account">Profile</a></li>
						<li><a href="/dashboard">Admin Dashboard</a></li>
					</ul>
				</li>
			</ul>
		</div>
</nav>
</div>
