<% layout('layout') -%>
<div class="container">
<div class="content">
<% include partials/sidebar_container %>
	    <!-- insert the page content here -->
		<h3>Feel free to check my <a href ="https://www.linkedin.com/in/jaouad-mouaou-8b759674" target="_blank">Linked In profile</a></h3>
	    <h1>Jaouad Mouaou</h1>	     
	    <h2>Web Developer</h2>
<p><h3>(Object-Oriented Programming, Software Design and Development, Relational Database Systems and Mobile App Development)</h3></p>
<ul>
<li> Known for excellent functional testing troubleshooting skills able to analyze code</li>
<li> Complete project responsibilities including design, coding, unit testing, and documentation on time at required quality level</li>
<li> Excellent communication skills, problem solving and crisis management skills, and strong requirements analysis/analytical skills with the ability to work as an effective member of a team</li>
<li> Design application solutions that fully implement business requirements with established company standards</li>
<li> Experience with HTML5 and CSS, Bootstrap, Responsive web design</li>
<li> Database experience with MongoDb, MSSQL, MySQL, Oracle, and PostgreSQL</li>
<li> Experience with Git / GitHub</li>
<li> Strong experience in Java and object oriented programming (OOP)</li>
<li> Experience with PHP, C#, NodeJS, JavaScript, and Ruby on Rails.</li>
<li> Strong Experience with Jasper iReport</li>
<li> Experience with Data Warehouse</li>
<li> Experience with Mobile App Development (Android)</li>
</ul>
</div>
</div>